/*All*/
html, body {
  height:100%;
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
