.main-sidebar {
	width: 40vw;
}

.content-wrapper {
	margin-left: 40vw;
}

#marketing_chart {
	position: absolute;
width: 100%;
}

/*User menu picture*/
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

/*Left sidebar */
.skin-blue .sidebar a {
    transition: .5s;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    background: #1e282c;
    border-left-color: #3c8dbc;
}

/*Top Bar*/
.skin-blue .main-header .navbar {
	background-color: #222d32;
}

/*Top left logo*/
.skin-blue .main-header .logo {
	font-size: 18px;
	background-color: #222d32;
	color: #fff;
	transition: .5s;
}
.skin-blue .main-header .logo:hover {
	background-color: #ecf0f5;
    background-image: url(../img/noise.png);
	color: #6d6d6d;
}

/*Toggle Left Menu button*/
.skin-blue .main-header .navbar .sidebar-toggle {
    transition: .5s;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #1e282c;
}

/*User dropdown background*/
.skin-blue .main-header li.user-header {
    background-color: #222d32;
}

/*Little white space above user dropdown*/
.navbar-nav>.user-menu>.dropdown-menu {
    padding: 0px 0 0 0;
}


/*Little white space above user dropdown*/
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	border: 0px solid #222d32;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	min-height: 100vh;
    background-color: #ecf0f5;
      background-image: url(../img/noise.png);
}


.container-fluid-body {
	min-height: 100%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 3vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

.question_number {

}

.question {
	font-size: 18px;
}

.options_box {
	padding: 20px;
	padding-top: 4vh;
	display: table;
}

.option {
	display: inline;
	font-size: 16px;
}

hr {
	margin-bottom: 0px;
	border: 1px solid #6d6d6d;
}

label {
	margin-bottom: 0px;
	font-weight: 400;
}

.btn {
	transition: .5s;
}


.content {
	width:520px; 
	margin:50px 
	auto;
}

.modal-header {
	background-color: #367fa9;
	color: #fff;
}

.modal-title {
	font-size: 24px;
}

.modal-body {
	
	color: #333;
	background-color: #ecf0f5;
}

.modal-body p {
	font-size: 22px
}

.container-fluid {
	background-color: #fff;
	min-height: 70vh;
	/*border: 2px solid #222d32;*/
}

.question-search {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-add-question {
	background-color: #d9534f;
	color: #fff;
}

.btn-add-question:hover, .btn-add-question:active, .btn-add-question:visited,.btn-add-question:focus {
	background-color: #5cb85c;
	color: #fff;
}

.btn-remove-question {
	background-color: #5cb85c;
	color: #fff;
}

.btn-remove-question:hover, .btn-remove-question:active, .btn-remove-question:visited,.btn-remove-question:focus {
	background-color: #d9534f;
	color: #fff;
}

#question_area {
	min-height: 70vh;
	max-height: 70vh;
	overflow-y:auto;
	overflow-x: hidden;
}

#review_area {
	min-height: 70vh;
	max-height: 70vh;
	overflow-y:auto;
	overflow-x: hidden;
}

.container-fluid-submit {
	margin-top: 0vh;
	margin-bottom: 2vh;
	padding: 0vh;
	padding-left: 20vw;
	padding-right: 20vw;
	text-align: center;
}

#dropdown_large {
	min-height: 4vh;
	min-width:88vw;
}
.dropdown_large {
	min-height: 4vh;
	min-width:88vw;
}

.search-bar {
	border-bottom:2px solid #6d6d6d;
}

.btn-flat {
	border-radius: 0;
	border: 0px;
}
.btn-flat:hover {
	border-radius: 0;
	border: 0px;
}

