/*All*/
html, body {
  height:100%;
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}


/*containers*/
#landing-container {
  position: relative;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  color: #444;
  padding: 0;
  background: linear-gradient(90deg, #eee 60%, #deddd6 60%);
}
@media screen and (max-width: 1030px) {
  #landing-container {
    background: #eee;
  }
}
.landing-content-container-fullwidth {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.landing-content-container-margins {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
  height: 100%;
  max-width: 1400px;
}
.landing-content {
  text-align: center;
  display: block;
  box-sizing: border-box;
  min-height: 100%;
  padding: 10vh 0 0 0;
}
.landing-content.left {
  width: 40%;
  float: left;
  padding-left: 3%;
  padding-right: 1%;
}
.landing-content.right {
  width: 60%;
  float: right;
  padding-left: 1%;
  padding-right: 3%;
  background-color: #deddd6;
}
@media screen and (max-width:1030px) {
  .landing-content.left {
    width: 100%;
  }
  .landing-content.right {
    padding: 5vh 0 0 0;
    width: 100%;
    background-color: #deddd6;
  }
}
.emblem-div {
  float: left;
  padding: 0;
  margin-right: 10px;
}
.landing-menu-option {
  margin-top: 25px;
}


/*Elements*/

/*Pictures*/
#landing-centre-logo {
  width: 95%;
}
@media screen and (max-width: 1030px) {
  #landing-centre-logo {
    width: 65%;
  }
}

/*Text*/
.landing-text {
  font-weight: 400;
  color: #444;
  text-align: left;
}
.emblem-title {
  margin: 0;
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
}
h1.landing-text {
  font-size: 42px;
}
@media screen and (max-width: 1030px) {
  h1.landing-text {
    text-align: center;
  }
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
p {
  font-size: 22px;
  text-align: left;
  margin-top: 35px;
}

/*Links*/
a {
  text-decoration: none;
}

/*Buttons*/
.btn {
  font-family: inherit;
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-outline {
  font-size: 18px;
  font-weight: 500;
  min-width: 160px;
  min-height: 50px;
  border-radius: 3px;
  border: 1px solid #444;
  color: #444;
  background-color: transparent;
  /*box-shadow: inset 0 0 0 0 #444;*/
}
.btn-outline:hover,
.btn-outline:focus {
  border: 1px solid #3081e2;
  outline: none;
  color: #3081e2;
    /*box-shadow: inset 160px 0 0 0 #444;*/
}
#landing-btn-login {
  bottom: 10%;
  position: absolute;
}
