/*Navbar*/
nav {
  top: 0;
  height: 5vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  background: #eee;
}
nav.scrolled {
  width: 0;
  font-size: 14px !important;
  color: #eee !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: transparent;
}
li {
  float: right;
  border-right:1px solid #444;
}
li:first-child {
  border-right:0px solid #444;
}
li a {
  -webkit-transition: all 0.3s ease-in-out;
  display: block;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgba(222,221,214,0.7);
}
.active {
  background-color: #444;
  color: #eee;
}
#navbar-logo {
  float: left;
  display: inline;
  position: absolute;
  z-index: 1001;
  top: 0.5vh;
  left: 3vw;
}
