.control-sidebar-menu .menu-icon {
    float: left;
    width: 35px;
    height: 0px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px
}

.exam-percentage {
	font-size: 18px;
	color: #fff;
}

.control-sidebar-menu>li>a {
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}